//шрифты
//p.s сделать самому без гайда --------------------------------------------------------------------------------------------------------------------------------

// файл обнуляющих стлилей
@import "nullstyle.scss";

// Переменные для блоков


// Шаблоны


// "Функции"


// Оформление
body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    height: 100%;
    background-color: rgb(65, 65, 65);
}
.wrapper{
    padding: 60px;
    background-color: #fff;
}