* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  height: 100%;
  background-color: #414141;
}
.content {
  padding: 50px;
}

.content__circle {
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
  left: 0;
  /*
  animation-name: white-circle;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  */
  animation: white-circle 2s linear 0s infinite alternate forwards, red-circle 2s ease 0s infinite alternate forwards;
}

.content:hover .content__circle{
  animation-play-state: paused,running;
}

@keyframes white-circle{
  0%{
    left: 0;
  }
  50%{
    border-radius: 0%;
  }
  100%{
    left: 500px;
  }
}
@keyframes red-circle{
  0%{
    background-color: #fff;
  }
  50%{
    background-color: red;
  }
  100%{
    background-color: #fff;
  }
}