//шрифты
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap');

// файл обнуляющих стлилей
@import "nullstyle.scss";

// Переменные для блоков
$fz1:100px;
$color1: #000;
$color2: #fff;

// Шаблоны


// "Функции"


// Оформление
.title{
    font-size: 100px;
}
.subtitle{
    font-size: 35px;
}