//шрифты
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap');

// файл обнуляющих стлилей
@import "nullstyle.scss";

// Переменные для блоков
$fz1:100px;
$color1: #000;
$color2: #fff;

// Шаблоны


// "Функции"


// Оформление
body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.wrapper{
    height: 100%;
    overflow: hidden;
    min-height: 100%;
    padding: 50px;
}
.block{

}
.block__row{
    display: flex;
    border: 20px solid #ece89d;
    margin: 0px 0px 20px 0px;

    flex-direction: column-reverse;
    //align-items: flex-end;

    height: 700px;
}
.block__column{
    border: 20px solid #5e5373;
}
.block_column_1{}
.block_column_2{flex: 1 1 auto;}
.block_column_3{}
.block__item{
    background-color: #18b5a4;
    padding: 20px 50px;
    font-size: 50px;
    color: #fff;
    font-weight: 700;
    text-align: center;
}
.block__list{
    display: flex;
    align-items: center;
    li{margin: 0px 15px 0px 0px;
        &:last-child{margin: 0px 0px 0px 0px;}
    }
}
.block__info{
    position: relative;
    padding: 0px 0px 0px 25px;
    line-height: 15px;
    &:before{
        content: '';
        width: 15px;
        height: 15px;
        position: absolute;
    }
}