* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}
body{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: rgb(41, 41, 41);
  color: white;
}
h1 {
  font-size: 52px;
  padding: 40px 0;
}
p {
  margin: 20px 0;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
}
.content {
  padding: 30px 3%;
}
.grid {
  font-size: 30px;
  position: relative;
  margin: 0px 0px 40px 0px;
}
.grid__body {
  display: grid;
  grid-template-rows: [start] 150px [row2] 150px [row-end];
  grid-template-columns: [start] 1fr [col2] 1fr [col3] 1fr [col-end];

  gap: 20px;
}
.grid__item {
  text-align: center;
  border: 2px dashed rgba(255, 255, 255, 0.2);
  padding: 30px;
}

/* Размещение элементов с помощью сетки */

.grid__item_1 {
}
.grid__item_2 {
}
.grid__item_3 {
}
.grid__item_4 {
}
.grid__item_5 {
}
.grid__item_6 {
}